.Board {
  // margin: 0 auto;
  // width: 90vw;
  // height: 90vh;
  margin: 100%;
}

.playable-area {
  position: relative;
  display: grid;
  justify-items: center;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(15, auto);
  grid-template-rows: repeat(15, auto);
}

.tile {
  overflow: visible;
  width: 185px;
  height: 185px;
  margin: 14px;
  display: grid;
  grid-template-rows: repeat(4, 25%);
  position: relative;
}

.tile > * {
  background: rgba(0,0,0,0);
}

.tile.start-tile {
  grid-column-start: 8;
  grid-row-start: 8
}

.tile img {
  position: absolute;
  width: 213px;
  height: 213px;
  top: -14px;
  left: -14px;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.space.active {
  box-sizing: border-box;
  border: 2px solid yellow;
  z-index: 1;
}

.new-tile-area {
  box-sizing: border-box;
  border: 2px solid blue;
}

.new-tile-area {
  &.placeholder {
    visibility: hidden;
  }
}


/* TEST */
.pawn-grid {
  // grid-column-start: 8;
  // grid-row-start: 7;
  width: 185px;
  height: 185px;
  // margin: 14px -78.5px 14px 14px;
  display: grid;
  grid-template-rows: repeat(4, 25%);
  grid-template-columns: repeat(4, 25%);
  place-self: center;
  position: relative;
  justify-items: center;
  justify-content: center;
  align-content: center;
}

.pawn {
  // position: absolute;
  width: 46.25px;
  height: 46.25px;
  overflow: visible;
  text-align: center;
}

.pawn img {
  top: -17.5px;
  position: relative;
}


/* PLAYER */

.player-area {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(172, 227, 208, 0.8);
  width: 100vw;
  height: 20%;
}