.Board {
  // margin: 0 auto;
  // width: 90vw;
  // height: 90vh;
  margin: 100%;
}

.timer {
  position: fixed;
  top: 0;
  right: 0;
  color: white;
  z-index: 200;
}

.playable-area {
  position: relative;
  display: grid;
  justify-items: center;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(15, auto);
  grid-template-rows: repeat(15, auto);
}

.tile {
  overflow: visible;
  width: 185px;
  height: 185px;
  margin: 14px;
  display: grid;
  grid-template-rows: repeat(4, 25%);
  position: relative;
}

.tile > * {
  background: rgba(0,0,0,0);
}

.tile.start-tile {
  grid-column-start: 8;
  grid-row-start: 8
}

.tile img {
  position: absolute;
  width: 213px;
  height: 213px;
  top: -14px;
  left: -14px;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.space {
  box-sizing: border-box;

  &.active {
    z-index: 1;
    border: 2px solid yellow;
  }

  &.escalator {
    z-index: 1;
    border: 2px solid greenyellow;
  }

  &.teleporter {
    z-index: 1;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    
    div {
      width: 78%;
      height: 78%;
      border-radius: 50%;
      position: relative;
      box-sizing: border-box;
  
      &.purple {
        background-color: rgba(128,0,128,0.5);
        border: 3px solid purple;
      }
  
      &.orange {
        background-color: rgba(255,179,71,0.5);
        border: 3px solid #ff9933;
      }
  
      &.yellow {
        background-color: rgba(255,225,53,0.5);
        border: 3px solid yellow;
      }
  
      &.green {
        background-color: rgba(50,205,50,0.5);
        border: 3px solid limegreen;
      }
    }
  }
}



.new-tile-area {
  box-sizing: border-box;
  border: 2px solid blue;
}

.new-tile-area {
  &.placeholder {
    visibility: hidden;
  }
}


/* TEST */
.pawn-grid {
  // grid-column-start: 8;
  // grid-row-start: 7;
  width: 185px;
  height: 185px;
  // margin: 14px -78.5px 14px 14px;
  display: grid;
  grid-template-rows: repeat(4, 25%);
  grid-template-columns: repeat(4, 25%);
  place-self: center;
  position: relative;
  justify-items: center;
  justify-content: center;
  align-content: center;
}

.pawn {
  // position: absolute;
  width: 46.25px;
  height: 46.25px;
  overflow: visible;
  text-align: center;
}

.pawn img {
  top: -17.5px;
  position: relative;
}


/* PLAYER */

.player-area {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(172, 227, 208, 0.8);
  width: 100vw;
  height: 20%;
}

.game-paused {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 49, 49, 0.85)
}